In [33]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [34]:
import numpy as np
import pandas as pd

Loading dataset

In [35]:
df = pd.read_csv("/content/gdrive/MyDrive/college_project/2018_with_genres.csv")

In [36]:
df.head()

   Unnamed: 0  ...                   genres
0           0  ...  Mystery Horror Thriller
1           1  ...           Thriller Drama
2           2  ...          Action Thriller
3           3  ...    Drama History Western
4           4  ...          Action Thriller

[5 rows x 5 columns]

In [37]:
df['Title'] = df['Title'].str.replace(':',' ')

In [38]:
df.head()

   Unnamed: 0  ...                   genres
0           0  ...  Mystery Horror Thriller
1           1  ...           Thriller Drama
2           2  ...          Action Thriller
3           3  ...    Drama History Western
4           4  ...          Action Thriller

[5 rows x 5 columns]

In [39]:
df['Cast and crew'][0]

'Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus Sampson, Leigh Whannell, Spencer Locke, Caitlin Gerard, Kirk Acevedo, Bruce Davison'

In [40]:
df['Cast and crew'] = df['Cast and crew'].str.replace(',' , ';')

In [41]:
def canvert(data):
  data = data.split(";")
  return data[0]

In [42]:
actual_data = df['Cast and crew']
df['director_name'] = actual_data.map(canvert)

In [43]:
df['director_name'] = df['director_name'].str.replace(r"(director)" , '')
df['director_name'] = df['director_name'].str.replace("(" , '')
df['director_name'] = df['director_name'].str.replace(")" , '')

In [44]:
df.head()

   Unnamed: 0  ...        director_name
0           0  ...        Adam Robitel
1           1  ...    Lauren Wolkstein
2           2  ...          Simon West
3           3  ...    Warwick Thornton
4           4  ...  Jaume Collet-Serra

[5 rows x 6 columns]

In [45]:
def canvert(data):
  data = data.split(";")
  try:
    return data[2]
  except:
    return np.nan

In [46]:
actual_data = df['Cast and crew']
df['actor_1_name'] = actual_data.map(canvert)

In [47]:
df.head()

   Unnamed: 0  ...                   actor_1_name
0           0  ...                      Lin Shaye
1           1  ...                  Alex Pettyfer
2           2  ...   Warren Davis II (screenplay)
3           3  ...   Steven McGregor (screenplay)
4           4  ...   Philip de Blasi (screenplay)

[5 rows x 7 columns]

In [48]:
df['actor_1_name'] = df['actor_1_name'].str.replace(r"(screenplay)" , '')
df['actor_1_name'] = df['actor_1_name'].str.replace("(" , '')
df['actor_1_name'] = df['actor_1_name'].str.replace(")" , '')

In [49]:
df.head()

   Unnamed: 0                    Title  ...        director_name       actor_1_name
0           0  Insidious  The Last Key  ...        Adam Robitel           Lin Shaye
1           1         The Strange Ones  ...    Lauren Wolkstein       Alex Pettyfer
2           2                 Stratton  ...          Simon West    Warren Davis II
3           3            Sweet Country  ...    Warwick Thornton    Steven McGregor
4           4             The Commuter  ...  Jaume Collet-Serra    Philip de Blasi

[5 rows x 7 columns]

In [50]:
def canvert(data):
  data = data.split(";")
  try:
    return data[3]
  except:
    return np.nan

In [51]:
actual_data = df['Cast and crew']
df['actor_2_name'] = actual_data.map(canvert)

In [52]:
df.head()

   Unnamed: 0  ...             actor_2_name
0           0  ...            Angus Sampson
1           1  ...   James Freedson-Jackson
2           2  ...           Dominic Cooper
3           3  ...              Bryan Brown
4           4  ...              Liam Neeson

[5 rows x 8 columns]

In [53]:
def canvert(data):
  data = data.split(";")
  try:
    return data[4]
  except:
    return np.nan

In [54]:
actual_data = df['Cast and crew']
df['actor_3_name'] = actual_data.map(canvert)

In [55]:
df.head()

   Unnamed: 0  ...     actor_3_name
0           0  ...   Leigh Whannell
1           1  ...    Emily Althaus
2           2  ...   Austin Stowell
3           3  ...        Sam Neill
4           4  ...     Vera Farmiga

[5 rows x 9 columns]

In [56]:
df = df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','Title']]

In [57]:
df.head()

         director_name  ...                    Title
0        Adam Robitel   ...  Insidious  The Last Key
1    Lauren Wolkstein   ...         The Strange Ones
2          Simon West   ...                 Stratton
3    Warwick Thornton   ...            Sweet Country
4  Jaume Collet-Serra   ...             The Commuter

[5 rows x 6 columns]

In [58]:
df.isna().sum()

director_name     0
actor_1_name      8
actor_2_name     12
actor_3_name     30
genres            3
Title             0
dtype: int64

In [59]:
df = df.dropna(how='any')

In [60]:
df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
Title            0
dtype: int64

In [61]:
df.head()

         director_name  ...                    Title
0        Adam Robitel   ...  Insidious  The Last Key
1    Lauren Wolkstein   ...         The Strange Ones
2          Simon West   ...                 Stratton
3    Warwick Thornton   ...            Sweet Country
4  Jaume Collet-Serra   ...             The Commuter

[5 rows x 6 columns]

In [62]:
df.shape

(235, 6)

In [63]:
df.to_csv('new_data_part3.csv',index=False)